.cart h4{
    text-align:center;
}
.cart{
    padding:40px;
    margin-top:10px;
    margin-left:20px;
    border:1px solid red;
    box-shadow: 5px 5px 5px 5px #fadfdf;
}
.cart h4 {
    color: rgb(204, 7, 7);
    
}